.nav-wrapper{
	background-color: tomato !important;
}

.brand-logo{
	text-align: center !important;
}

.container{
	min-height: 610px;
}

.header{
	text-align: center;
}

.panel-footer{
	text-align: center;

}

.header-tab{
	text-align: center;
	background-color: #ec5a3b99;
	color: #fff;
	line-height: 50px;
	font-size: 28px;
	border: 1px solid #eee;
	margin: 7px 0px 0px 0px;
}

.header-tab:hover, .header-tab:focus, .header-tab:active{
	background-color: tomato;
}

.active-tab{
	background-color: tomato;
}

.add-link{
	text-align: center;
}

.disabled {
	pointer-events: none !important;
	color: grey;
}

.list-element{
	background-color: #f9f9f9;
}

.list-name{
	text-align: left;
	padding-top: .45rem !important;
}

.list-edit{
	text-align: center;
}

.hidden{
	display: none !important;
}

img{
	max-width: 100% !important;
}

.song-source-logo{
	height: 80px;
	padding-left: 4px;
}

.song-title, .song-duration{
	padding-left: 4%;
}

.song-title{
	margin-top: 1px;
	font-size: 26px;
}

.song-duration{
	font-size: 20px;
}

.card{
	max-width: 90%;
}

.song_description{
	margin: 2% !important;
}

.song_listing{
	display: block;
	color: inherit !important;
}

.playlists-container{
	max-height: 645px;
	overflow: auto;
}

.header{
	text-align: left;

}

.addBtn{
	padding-top: 15px !important;
}

.flatBtn{
	padding-top: 26px !important;
}

.page-header{
	color: #fff;
	background-color: tomato;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
}

.fb-share-button{
	padding-top: 31px !important;
	float: right !important;
}

.switch{
	padding-top: 6px !important;
	float: right !important;
}

.collection{
	padding-top: 1%;
	max-height: 500px;
	overflow: auto;
}

.resetBtn{
	width: 100%;
}

.gaanaThumbnail{
	border-right: 70px solid aliceblue;
	border-left: 70px solid aliceblue;
}

.gaanaLogo{
	max-width: 140px;
	height: auto;
	padding-top: 3%;
	padding-left: 17px;
}

.youtubeThumbnail{
	max-width: 100% !important;
}

.youtubeLogo{
	height: 80px;
	padding-left: 4px;
}

.saavnThumbnail{
	max-height: 181px;
	border-right: 70px solid aliceblue;
    border-left: 70px solid aliceblue;
}

.saavnLogo{
	max-width: 140px !important;
	height: auto;
	padding-top: 4%;
	padding-left: 26px;
}

.alert
li{
    
    color: #fff;
    padding-left: 2%;
    line-height: 2;
    border-radius: 11px;
    margin-bottom: 1%;
}

.alert-danger
li{
	background-color: #6f5955;
}
